body {
  font-family: "Patua One", sans-serif;
  font-size: 1rem;
  height: 100%;
  background: url(../images/bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
#content {
  color: white;
}
#intro {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  text-shadow: 0 0 2em black, 0 0 0.2em black;
}
#intro h1 {
  letter-spacing: 0.3rem;
}
#portfolio {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
#portfolio h3 {
  text-shadow: 0 0 2em black, 0 0 0.2em black;
}
.card {
  padding: 0;
  margin-bottom: 40px;
  border: none;
  border-radius: 0.25rem;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
